* {
	background-color: white;
	font-family: 'Poppins', sans-serif;
}

h1 {
	text-align: center;
	padding-top: 25px;
	color: #393939;
}

#author {
	padding-top: 25px;
}

p {
	text-align: center;
	color: #393939;
}

.container {
	height: 400px;
	width: 400px;
	margin: 0 auto;
	padding: 0;
	background-color: #393939; 
}

.container .rectangle {
	height: 140px;
	width: 100px;
	float: left;
	background-color: #f6f6f6;
}

.container .big-square {
	height: 290px;
	width: 290px;
	float: right;
	background-color: #cc3333;
}

.container .rectangle2 {
	height: 140px;
	width: 100px;
	position: relative;
	top: 150px;
	background-color: #fff4db;
}

.container .square {
	height: 100px;
	width: 100px;
	position: relative;
	top: 160px;
	background-color: #2f7fd8;
}

.container .big-rectangle {
	height: 100px;
	width: 260px;
	position: relative;
	left: 110px;
	top: 60px;
 	background-color: #fff4db;
}

.container .mini-rectangle {
	height: 45px;
	width: 20px;
	background-color: #fff4db;
	position: relative;
	bottom: 40px;
	left: 380px;
}

.container .mini-rectangle2 {
	height: 45px;
	width: 20px;
	position: relative;
	bottom: 30px;
	left: 380px;
	background-color: #feda09;
}