* {
	background-color: white;
	font-family: 'Poppins', sans-serif;
}

.title {
	text-align: center;
	padding: 10px;
}

.paragraph {
	text-align: center;
	padding-top: 10px;
}

.container {
	background-color: #393939;
	width: 400px;
	height: 400px;
	position: relative;
	margin: 0 auto;
}

.container .rectangle {
	background-color: #f6f6f6;
	height: 140px;
	width: 100px;
	position: absolute;
}

.container .big-square {
	background-color: #cc3333;
	height: 290px;
	width: 290px;
	position: absolute;
	left: 110px; 
}

.container .rectangle2 {
	background-color: #fff4db;
	height: 140px;
	width: 100px;
	position: absolute;
	top: 150px;
}

.container .square {
	background-color: #2f7fd8;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 300px;
}

.container .big-rectangle {
	background-color: #fff4db;
	height: 100px;
	width: 260px;
	position: absolute;
	top: 300px;
	left: 110px;
}

.container .mini-rectangle {
	background-color: #fff4db;
	height: 45px;
	width: 20px;
	position: absolute;
	top: 300px;
	left: 380px;
}

.container .mini-rectangle2 {
	background-color: #feda09;
	height: 45px;
	width: 20px;
	position: absolute;
	top: 355px;
	left: 380px;
}